@import 'styles/utilities.scss';

.nav {
  display: flex;
  align-items: center;

  button {
    @include button;
  }

  .nav_head {
    font-size: 5rem;
    flex-grow: 1;
    text-align: center;
    font-family: $font-family-special;
  }
}

.main {
  min-height: calc(85vh - 8rem);

  @media (max-width: 900px) {
    min-height: calc(85vh - 3rem * 2);
  }

  @media (max-width: 600px) {
    min-height: calc(85vh - 2rem * 2);
  }

  padding-top: 5rem;
  display: flex;
  align-items: center;

  .btn_container {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
  }

  button {
    text-decoration: none;
    font-family: $font-family-default;
    padding: 1rem 2rem;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    font-size: 1.75rem;
    transition: all 0.5s;
    display: flex;
    align-items: center;

    span {
      margin-right: 1rem;
    }

    &:hover {
      background-color: #fff;
      color: #000;
    }
  }

  .showcase {
    .gallery {
      overflow: hidden;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }

  .slider_dot_container {
    flex-basis: 10%;

    div {
      width: 2rem;
      height: 2rem;
      border-radius: 100%;
      background-color: rgb(187, 187, 187);
      margin: 2rem;
      transition: all 0.3s;
      cursor: pointer;

      @media (max-width: 600px) {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

  .card_container {
    flex-grow: 1;
    cursor: grab;

    .card {
      display: flex;
      align-items: center;
      overflow: hidden;

      @media (max-width: 800px) {
        flex-direction: column;
        justify-content: center;
      }

      &_left {
        flex-basis: 50%;

        h2 {
          font-size: 3.5rem;
          text-align: center;
          text-transform: uppercase;
          margin-top: 2rem;
          letter-spacing: 2px;
        }

        div {
          position: relative;
          border-radius: 1rem;
          height: 30rem;
          width: 90%;
          min-width: 35rem;
          margin-left: 5%;

          @media (max-width: 400px) {
            height: 25rem;
            min-width: 30rem;
            margin-left: 0%;
          }
        }
      }

      &_right {
        flex-basis: 50%;
        padding: 2rem;

        @media (max-width: 800px) {
          margin-top: 3rem;
        }
        h3 {
          font-size: 1.75rem;
          letter-spacing: 2px;
          word-spacing: 4px;
          text-align: center;
        }

        ul {
          list-style: none;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          margin-top: 3rem;

          li {
            font-size: 1.3rem;
            padding: 1rem 1.5rem;
            margin: 1rem;
            border-radius: 1rem;
            cursor: grab;
            transition: all 0.3s;

            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }

      &_btn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2rem 0;

        a {
          text-decoration: none;
          padding: 1rem 2rem;
          color: #fff;
          border: 2px solid #fff;
          font-size: 1.75rem;
          margin: 2rem 1rem;
          font-family: $font-family-default;
          transition: all 0.5s;

          &:hover {
            background-color: #fff;
            color: #000;
          }
        }
      }
    }
  }

  .project_card {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 1em;
    padding: 1em;
    padding-bottom: calc(1em + 2rem);
    position: relative;
    cursor: grab;
    box-shadow: 0 20px 30px -15px rgba(255, 255, 255, 0.2);

    &_top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.5rem;

      .logo {
        width: 3rem;
        height: 3rem;
        overflow: hidden;
        border-radius: 50%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .link_container {
        a {
          text-decoration: none;
          color: $color-white;
          font-size: 2.5rem;

          &:not(:last-child) {
            margin-right: 1em;
          }
        }
      }
    }

    &_content {
      h2 {
        font-size: 2.5rem;
        font-weight: 600;
      }

      h3 {
        margin: 1em 0;
        font-size: 1.5rem;
        font-weight: 500;
      }
      ul {
        list-style: none;
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 5%;

        li {
          text-transform: capitalize;
          font-size: 1.2rem;
          font-weight: 600;
          &:not(:last-child) {
            margin-right: 1em;
          }
        }
      }
    }
  }

  .more {
    .project {
      display: grid;
      grid-gap: 3em;
      max-height: 65vh;
      overflow-x: auto;
      padding-right: 1em;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

      @media (max-width: 400px) {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      }
    }
  }
}
