@import './variables.scss';

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: $font-family-default;
  scroll-behavior: smooth;
  box-sizing: border-box;

  background-color: $color-primary-main;
}

@media (max-width: 800px) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 50%;
  }
}
