@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ty42fm');
  src:  url('fonts/icomoon.eot?ty42fm#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ty42fm') format('truetype'),
    url('fonts/icomoon.woff?ty42fm') format('woff'),
    url('fonts/icomoon.svg?ty42fm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-moon:before {
  content: "\e906";
}
.icon-sun:before {
  content: "\e900";
}
.icon-weather:before {
  content: "\e900";
}
.icon-arrow:before {
  content: "\e904";
}
