@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?1kncoa');
  src: url('fonts/icomoon.eot?1kncoa#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1kncoa') format('truetype'),
    url('fonts/icomoon.woff?1kncoa') format('woff'),
    url('fonts/icomoon.svg?1kncoa#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right-circle:before {
  content: '\e93d';
}
.icon-arrow-left-circle:before {
  content: '\e93e';
}
.icon-docker:before {
  content: '\e93b';
  color: #1488c6;
}
.icon-jest:before {
  content: '\e93c';
  color: #c21325;
}
.icon-sequelize .path1:before {
  content: '\e907';
  color: rgb(47, 64, 106);
}
.icon-sequelize .path2:before {
  content: '\e908';
  margin-left: -0.865234375em;
  color: rgb(35, 121, 189);
}
.icon-sequelize .path3:before {
  content: '\e922';
  margin-left: -0.865234375em;
  color: rgb(3, 175, 239);
}
.icon-sequelize .path4:before {
  content: '\e923';
  margin-left: -0.865234375em;
  color: rgb(47, 64, 106);
}
.icon-sequelize .path5:before {
  content: '\e924';
  margin-left: -0.865234375em;
  color: rgb(35, 121, 189);
}
.icon-sequelize .path6:before {
  content: '\e925';
  margin-left: -0.865234375em;
  color: rgb(3, 175, 239);
}
.icon-sequelize .path7:before {
  content: '\e926';
  margin-left: -0.865234375em;
  color: rgb(47, 64, 106);
}
.icon-sequelize .path8:before {
  content: '\e927';
  margin-left: -0.865234375em;
  color: rgb(35, 121, 189);
}
.icon-sequelize .path9:before {
  content: '\e928';
  margin-left: -0.865234375em;
  color: rgb(3, 175, 239);
}
.icon-sequelize .path10:before {
  content: '\e929';
  margin-left: -0.865234375em;
  color: rgb(47, 64, 106);
}
.icon-sequelize .path11:before {
  content: '\e92a';
  margin-left: -0.865234375em;
  color: rgb(35, 121, 189);
}
.icon-sequelize .path12:before {
  content: '\e92b';
  margin-left: -0.865234375em;
  color: rgb(3, 175, 239);
}
.icon-sequelize .path13:before {
  content: '\e92c';
  margin-left: -0.865234375em;
  color: rgb(47, 64, 106);
}
.icon-sequelize .path14:before {
  content: '\e92d';
  margin-left: -0.865234375em;
  color: rgb(35, 121, 189);
}
.icon-sequelize .path15:before {
  content: '\e92e';
  margin-left: -0.865234375em;
  color: rgb(3, 175, 239);
}
.icon-sequelize .path16:before {
  content: '\e92f';
  margin-left: -0.865234375em;
  color: rgb(47, 64, 106);
}
.icon-sequelize .path17:before {
  content: '\e930';
  margin-left: -0.865234375em;
  color: rgb(35, 121, 189);
}
.icon-sequelize .path18:before {
  content: '\e931';
  margin-left: -0.865234375em;
  color: rgb(3, 175, 239);
}
.icon-sequelize .path19:before {
  content: '\e932';
  margin-left: -0.865234375em;
  color: rgb(47, 64, 106);
}
.icon-sequelize .path20:before {
  content: '\e933';
  margin-left: -0.865234375em;
  color: rgb(35, 121, 189);
}
.icon-sequelize .path21:before {
  content: '\e934';
  margin-left: -0.865234375em;
  color: rgb(3, 175, 239);
}
.icon-sequelize .path22:before {
  content: '\e935';
  margin-left: -0.865234375em;
  color: rgb(47, 64, 106);
}
.icon-sequelize .path23:before {
  content: '\e936';
  margin-left: -0.865234375em;
  color: rgb(35, 121, 189);
}
.icon-sequelize .path24:before {
  content: '\e937';
  margin-left: -0.865234375em;
  color: rgb(3, 175, 239);
}
.icon-sequelize .path25:before {
  content: '\e938';
  margin-left: -0.865234375em;
  color: rgb(47, 64, 106);
}
.icon-sequelize .path26:before {
  content: '\e939';
  margin-left: -0.865234375em;
  color: rgb(35, 121, 189);
}
.icon-sequelize .path27:before {
  content: '\e93a';
  margin-left: -0.865234375em;
  color: rgb(3, 175, 239);
}
.icon-express:before {
  content: '\e903';
}
.icon-gmail:before {
  content: '\e905';
  color: #d14836;
}
.icon-linkedin:before {
  content: '\e901';
  color: #0077b5;
}
.icon-twitter:before {
  content: '\e902';
  color: #1da1f2;
}
.icon-apollo:before {
  content: '\e921';
}
.icon-bootstrap:before {
  content: '\e91a';
  color: #563d7c;
}
.icon-c:before {
  content: '\e909';
  color: #a8b9cc;
}
.icon-cplusplus:before {
  content: '\e90a';
  color: #00599c;
}
.icon-css3:before {
  content: '\e90b';
  color: #1572b6;
}
.icon-figma:before {
  content: '\e90c';
  color: #f24e1e;
}
.icon-firebase:before {
  content: '\e90d';
  color: #ffca28;
}
.icon-git:before {
  content: '\e90e';
  color: #f05032;
}
.icon-github1:before {
  content: '\e90f';
}
.icon-graphql:before {
  content: '\e91c';
  color: #e10098;
}
.icon-html5:before {
  content: '\e910';
  color: #e34f26;
}
.icon-java:before {
  content: '\e911';
  color: #007396;
}
.icon-javascript:before {
  content: '\e912';
  color: #f7df1e;
}
.icon-jquery:before {
  content: '\e91b';
  color: #0769ad;
}
.icon-mongodb:before {
  content: '\e913';
  color: #47a248;
}
.icon-mysql:before {
  content: '\e914';
  color: #4479a1;
}
.icon-next-dot-js:before {
  content: '\e91d';
}
.icon-node-dot-js:before {
  content: '\e915';
  color: #393;
}
.icon-postgresql:before {
  content: '\e916';
  color: #336791;
}
.icon-python:before {
  content: '\e917';
  color: #3776ab;
}
.icon-react:before {
  content: '\e918';
  color: #61dafb;
}
.icon-redux:before {
  content: '\e920';
  color: #764abc;
}
.icon-sass:before {
  content: '\e919';
  color: #c69;
}
.icon-styled-components:before {
  content: '\e91e';
  color: #db7093;
}
.icon-typescript:before {
  content: '\e91f';
  color: #007acc;
}
.icon-arrow:before {
  content: '\e904';
}
.icon-moon:before {
  content: '\e906';
}
.icon-sun:before {
  content: '\e900';
}
.icon-weather:before {
  content: '\e900';
}
