/* MIXINS */
@mixin marginate {
  max-width: 120rem;
  margin: 0 auto !important;

  @media (max-width: 120rem) {
    max-width: 90%;
  }
}

@mixin LeftCenter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

@mixin Center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin CenterRow {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin PageCenter {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
