@import 'styles/utilities.scss';

.main {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;

  .experience {
    padding: 2rem 0;
    h4 {
      font-size: 3rem;
    }

    p {
      font-size: 1.5rem;
    }

    h6 {
      font-size: 2rem;
    }

    &__container {
      display: flex;
      align-items: flex-start;
      margin: 2rem 0 8rem 0;

      &:last-child {
        margin-bottom: 2rem;
      }
    }

    .left__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      margin-right: 2rem;
    }

    .icon__container {
      background-color: #fff;
      padding: 1rem;
      border-radius: 50%;
      margin: 1.5rem 0;

      span {
        font-size: 4rem;
      }
    }

    .details__container {
      padding: 2rem;
      border-radius: 2rem;
      background-color: rgba(255, 255, 255, 0.3);
      margin-left: 4rem;
      position: relative;
      overflow: visible;
      flex-grow: 1;

      p {
        margin-top: 1rem;
      }

      &::before {
        content: '';
        display: inline-block;
        width: 4rem;
        background-color: rgba(255, 255, 255, 0.3);
        clip-path: polygon(100% 0, 0 0, 100% 100%);
        height: 2rem;
        position: absolute;
        top: 6rem;
        left: -4rem;
      }
    }
  }
}

.page_nav {
  button {
    @include button;
  }
}
